<script src="jqscript.js"></script>

<div class="resizable">
	<h1 class="greetingHeader">{{appDetails.title}}</h1>
	<div class="introContainer">
		<img class="arrow grow" src="{{appDetails.arrow}}">
	</div>
</div>

<div>
<h1 style="text-align: center; margin-bottom: 150px; font-family: 'Raleway', sans-serif;">A Little Bit About Me,</h1>
	<div class="clearfix">
		<div class="profileBox appear">
			<img class="img-circle" src="images/profile.JPG">
			<h2 style="text-align: center; margin-bottom: 30px;">Tyler Coverstone</h2>
			<p style="text-align: center; margin:40px;">Student of Computer Science at the University of North Florida</p>
			<div style="margin-left: 5%;">
				<div class="smallIconImg grow">
					<a href="images/Resume.pdf"><img src="images/docIcon.PNG" alt="Resume" width="100%"></a>
				</div>
				<div class="smallIconImg grow">
					<a href="https://www.facebook.com/tyler.coverstone.9"><img src="images/fbIcon.png" alt="Facebook" width="100%"></a>
				</div>
				<div class="smallIconImg grow">
					<a href="https://www.instagram.com/coverstone321/"><img src="images/instaIcon.png" alt="Instagram" width="100%"></a>
				</div>
				<div class="smallIconImg grow">
					<a href="https://github.com/tylercoverstone"><img src="images/gitIcon.png" alt="GitHub" width="100%"></a>
				</div>
			</div>
		</div>

		<div class="infoBox appear2">
			<h2 style="text-align: center; margin-bottom: 30px;">My Technical Skills,</h2>
			<p style="text-align: center; margin: 40px;">Below is a list of languages that I frequently use and approximately how well that I know them.</p>
			<div style="margin:40px;">
				<table class="table">
					<tbody>
						<tr>
							<td><h4>Java</h4></td>
							<td><span class="longline1"></span><span class="shortline1"></span></td>
							<td><p>90%</p></td>
						</tr>
						<tr>
							<td><h4>C</h4></td>
							<td><span class="longline2"></span><span class="shortline2"></span></td>
							<td><p>80%</p></td>
						</tr>
						<tr>
							<td><h4>HTML and CSS</h4></td>
							<td><span class="longline3"></span><span class="shortline3"></span></td>
							<td><p>85%</p></td>
						</tr>
						<tr>
							<td><h4>Javascript</h4></td>
							<td><span class="longline4"></span><span class="shortline4"></span></td>
							<td><p>75%</p></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p style="text-align: center; margin: 40px;">While the above-mentioned languages are the ones that I am most familiar with, I also have experience using C#, Python, TypeScript and Swift.</p>
		</div>
	</div>

	<div class="clearfix">
		<div class="miscBox appear3 clearfix">
			<h2 style="text-align: center; margin-bottom: 30px; margin-top:15px;">Developer Tools and Misc.</h2>
			<p style="text-align: center; margin-bottom: 30px;">Here are some tools that I have worked with,</p>
			<div class="clearfix">
				<div class="toolsInfo">
					<h4>-Xcode</h4>
					<h4>-Sublime Text</h4>
					<h4>-Visual Studio</h4>
					<h4>-jGrasp</h4>
					<h4>-Android Studio</h4>
					<h4>-Eclipse</h4>
				</div>
				<div class="miscInfo">
					<h4>-Ubuntu Linux</h4>
					<h4>-Xamarin</h4>
					<h4>-IPTables Firewalls</h4>
					<h4>-AngularJS Framework</h4>
					<h4>-Ionic Framework</h4>
					<h4>-Raspberry Pi</h4>
				</div>
			</div>
		</div>

		<div class="randomBox appear4 clearfix">
			<h2 style="text-align: center; margin-bottom: 30px; margin-top:15px;">Education</h2>
			<p style="text-align: center; margin-left: 40px; margin-right: 40px; margin-bottom: 30px;">I'm a third year student at the University of North Florida:</p>
			<h4 style="text-align: center; margin-left: 40px; margin-right: 40px;">-Degree: Computer Science</h4>
			<h4 style="text-align: center; margin-left: 40px; margin-right: 40px;">-Expected Graduation: May 2019</h4>
			<h4 style="text-align: center; margin-left: 40px; margin-right: 40px;">-GPA: 3.96</h4>
			<h4 style="text-align: center; margin-left: 40px; margin-right: 40px;">-Honors Student</h4>
		</div>
	</div>

	<div style="text-align: center; margin-bottom: 100px; margin-top: 100px; ">
		<b class="bottomArrow grow">^</b>
	</div>
	<p style="text-align: center; color: gray;">&copy; 2016 Tyler Coverstone. All Rights Reserved.</p>
</div>