<script src="jqscript.js"></script>
<div class="resizable">
	<h1 class="greetingHeader">{{appDetails.title}}</h1>
	<div class="introContainer">
		<img class="arrow grow" src="{{appDetails.arrow}}">
	</div>
</div>

<div>
<h1 style="text-align: center; margin-bottom: 150px; font-family: 'Raleway', sans-serif;">How to Reach Me,</h1>
	<div class="contactBox appear">
		<br>
		<div style="display: block; margin-bottom: 40px;">
			<p class="contactText"><b>Email: </b>Coverstonet@gmail.com , N01040342@ospreys.unf.edu</p>
			<p class="contactText"><b>Phone: </b>(321)537-5882</p>
			<p class="contactText"><b>Mailing Address: </b>128-3 Seminole Road, Atlantic Beach, FL 32233</p>
		</div>
		<div style="margin-left: 290px;">
			<div class="iconImg grow">
				<a href="https://www.facebook.com/tyler.coverstone.9"><img src="images/fbIcon.png" alt="Facebook" width="60" height="60"></a>
			</div>
			<div class="iconImg grow">
				<a href="https://www.instagram.com/coverstone321/"><img src="images/instaIcon.png" alt="Instagram" width="60" height="60"></a>
			</div>
			<div class="iconImg grow">
				<a href="https://github.com/tylercoverstone"><img src="images/gitIcon.png" alt="GitHub" width="60" height="60"></a>
			</div>
		</div>
	</div>
	<div style="text-align: center; margin-bottom: 100px;">
	<b class="bottomArrow grow">^</b>
	</div>
	<p style="text-align: center; color: gray;">&copy; 2016 Tyler Coverstone. All Rights Reserved.</p>
</div>