
<script src="http://malsup.github.com/jquery.cycle2.js"></script>
<script src="jqscript.js"></script>
<script src="cycle.js"></script>

<div>
	<h1 class="greetingHeader">{{appDetails.hello}}</h1>

	<div class="introContainer">
		<div class="cycle-slideshow" 
			data-cycle-fx="fade" 
    		data-cycle-slides="> p">
			<p class="introduction" style="margin-top: 40px; border-top: 2px solid white; border-bottom: 2px solid white; font-family: 'Raleway', sans-serif;">{{appDetails.about1}}</p>
			<p class="introduction" style="margin-top: 40px; border-top: 2px solid white; border-bottom: 2px solid white; font-family: 'Raleway', sans-serif;">{{appDetails.about2}}</p>
			<p class="introduction" style="margin-top: 40px; border-top: 2px solid white; border-bottom: 2px solid white; font-family: 'Raleway', sans-serif;">{{appDetails.about3}}</p>
		</div>
	</div>
</div>