<script src="jqscript.js"></script>


<div style="display: block; margin-bottom: 500px;">
	<h1 class="greetingHeader">{{appDetails.title}}</h1>
	<div class="introContainer">
		<img class="arrow grow" src="{{appDetails.arrow}}">
	</div>
</div>

<div>
	<h1 style="text-align: center; margin-bottom: 150px; font-family: 'Raleway', sans-serif;">Here are Some Things I've Worked On,</h1>

	<div style="text-align: center; margin-bottom: 100px;" class="appear">
			<img id="modalImg" ng-repeat="project in projects" src="{{project.imgURL}}" class="img" ng-click="showModal(project)">
	</div>
	

	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close" ng-click="closeModal()">&times;</span>
			<img src="{{activeProject.imgURL}}" style="width: 30%; margin-right: auto; margin-left: auto; display: block;">
			<br>
			<h2 style="text-align: center; font-family: 'Raleway', sans-serif;">{{activeProject.title}}</h2>
			<br>
			<p style="text-align: center; font-family: 'Raleway', sans-serif;">{{activeProject.description}}</p>
		</div>	
	</div>

	<div style="text-align: center; margin-bottom: 100px;">
		<b class="bottomArrow grow">^</b>
	</div>
	<p style="text-align: center; color: gray;">&copy; 2016 Tyler Coverstone. All Rights Reserved.</p>
</div>
